@keyframes pulse-bg {
    0% {
        background-color: var(--background);
    }
    50% {
        background-color: var(--background-active);
    }
    100% {
        background-color: var(--background);
    }
}

html, body {
    margin: 0;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
}

.sound-board {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    grid-gap: 16px;
    padding: 32px;
    border-radius: 16px;
    background-color: #404040;
}

.sound-board__item.sound-board__item--1 {
    --background: #f18d44;
    --background-active: #ffcd87;
}

.sound-board__item.sound-board__item--2 {
    --background: #db517e;
    --background-active: #e590b9;
}

.sound-board__item.sound-board__item--3 {
    --background: #008487;
    --background-active: #66b8c0;
}

.sound-board__item.sound-board__item--4 {
    --background: #c37bbd;
    --background-active: #dfbdde;
}

.sound-button {
    width: 75px;
    height: 75px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    word-break: break-word;
    border: 1px solid grey;
    background-color: var(--background);
}

.sound-button--playing {
    animation: pulse-bg 1000ms linear infinite;
}
